<div data-controller="iiif_viewer" data-docid="<%= @prefix %>.<%= @documentId %>" class="uv" id="uv"></div>
<div data-controller="iiif_viewer" data-docid="<%= @prefix %>.<%= @documentId %>" class="mirador" id="mirador"></div>