<div data-controller="iiif_viewer" data-docid="<%= @prefix %>.<%= @documentId %>">
    <p>You are now previewing this item in <span id="viewer-name"></span></p>
    <div class="uv" id="page-viewer" style="width: 100%; height: 40rem; position: relative;"></div>
    <clover-viewer/>
</div>